/* @import "./base.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(30, 64, 175);
  transition: 0.4s;
}

@media (hover: hover) {
  nav a:hover {
    background-color: transparent;
  }
  #authView a:hover {
    background-color: transparent !important;
  }

  a:hover {
    background-color: rgba(149, 190, 245, 0.421);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
